@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}


html {
  scroll-behavior: smooth;
}
@keyframes auto-scroll {
  0% {
    transform: translateX(100%); /* Start from off the right side */
  }
  50% {
    transform: translateX(-100%); /* Move off the left side */
  }
  100% {
    transform: translateX(100%); /* Return to the original position */
  }
}

.animate-auto-scroll {
  animation: auto-scroll 100s linear infinite;
}

  